* {
    margin: 0;
}

.homeTab {
    height: 90px;
    width: 100%;
    background-color: rgba(240, 200, 20, 0.534);
    display: flex;
    justify-content: center;

}

.Homebut {
    height: 100%;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homebut a {
    text-decoration: none;
    font-size: 2em;
    color: rgb(254, 122, 99);
    ;

}

.Homebut a:hover {
    color: black;

}

.info {
    background-color: rgb(254, 122, 99);
    height: 81vh;
    width: 100%;
    border-top: solid 16px tomato;
    border-bottom: solid 16px tomato;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.tekstinfo{
    height: 300px;
    width: 50%;

}



